.login__section {
    padding: 8rem 0;
}
.signup__section {
    padding: 0 0 8rem;
}
.login__container, .signup__container {
    max-width: 100rem;
    margin: 0 auto;
}
.login, .signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
}
.signup {
    gap: 6.2rem;
}
.login .auth, .signup {
    background-color: #008001;
    border-radius: 3.2rem;
}
.signup {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.auth {
    padding: 4.8rem 8rem;
}
.auth__heading {
    font-size: 2.8rem;
    color: #fff;
    font-weight: 300;
    margin-bottom: 2.4rem;
    text-transform: capitalize;
}
.auth__head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3.2rem;
}
.auth__head--card {
    padding: 1.2rem;
    background-color: rgba(255, 255, 255, 0.3);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.2rem;
}
.auth__head--card p {
    font-size: 1.2rem;
    font-weight: 500;
    color: #222;
}
.auth__mid {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 1.8em;
}
.auth__mid::after, .auth__mid::before {
    content: '';
    display: inline-block;
    width: 45%;
    height: .1rem;

    background-color: #fff;
}
.auth__mid p {
    color: #fff;
    font-size: 1.4rem;
}
.login__form {
    gap: .8rem;
}
.login__form, .form__item {
    display: flex;
    flex-direction: column;
}
.form__item {
    gap: .4rem;
}
input.form__input {
    background-color: #ccc !important;
    padding: 1rem !important;
    width: auto !important;
}
input.form__input, .auth__head--card {
    border-radius: .4rem !important;
}
.form__flex {}
.form__checkbox {
    padding: .2rem;
}
.form__label {}
.form__link {}
.form__submit {}
.form__extra {}

.login__slide, .signup__images--box {
    width: 100%;
    height: 100%;
}
.login__slide {
    overflow: hidden;
}

.login__slide img {
    width: 100%;
    height: 100%;
}
.signup__images--box img {
    width: 150%;
    height: 100%;
}